app = "lgg-backend-dev"

[build]
  dockerfile = "Dockerfile"

[env]
  AllowedOrigins = "*"

[deploy]
  strategy = "rolling"
  release_command = "--migrate-db"

[[services]]
  internal_port = 80

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
